.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: auto;
}

.arrow-back {
  background-image: url("../Assets/arrowBack.svg");
  height: 40px;
  width: 40px;
  background-size: cover;
  display: inline-block;
  background-repeat: no-repeat;
}

.button-name {
  display: flex;
  align-items: center; 
  justify-content: center; 
  gap: 10px; 
}


.button-name button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center; 
  justify-content: center; 
  transition: background 0.3s, box-shadow 0.3s; 
}

.button-name button:hover {
  background: #03f40f;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03f40f,
              0 0 25px #03f40f,
              0 0 50px #03f40f,
              0 0 100px #03f40f;
}

.button-name h1 {
  font-size: 1.3rem;
  margin: 0; 
  color: #000000;
  font-weight: bold;
  letter-spacing: 1px;
  filter: drop-shadow(0 0 10px #03f40f);
}

.login-box {
  width: 300px; 
  padding: 20px; 
  background: transparent;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-box .user-box {
  margin-top: 20px;
  position: relative;
  width: 100%;
}

.login-box .user-box input {
  width: 100%;
  padding: 8px 0; 
  font-size: 14px; 
  color: #000000;
  margin-bottom: 20px; 
  border: none;
  border-bottom: 1px solid #ffffff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px; 
  font-weight: 600 !important;
  font-size: small !important; 
  color: #023800 !important;
  pointer-events: none;
  transform: translateX(60%) translateY(-50%);
  opacity: 1;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:active ~ label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
  opacity: 0;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 8px 16px; 
  color: #023800;
  font-size: 14px; 
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 30px; 
  letter-spacing: 4px;
}

.login-box a:hover {
  background: #03f40f;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03f40f,
              0 0 25px #03f40f,
              0 0 50px #03f40f,
              0 0 100px #03f40f;
}

.login-box a span {
  position: absolute;
  display: block;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%, 100% {
    left: 100%;
  }
}

.login-box a span:nth-child(1) {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03f40f);
  animation: btn-anim1 2s linear infinite;
}
