
.navbar {
    background: transparent !important; 
    margin: auto;
    width: 100%;
    /* padding-left: 10px !important; */
}
.container-fluid{
    margin-left: 50px !important;
}
 .navbar-logo {
     background-image: url("../Assets/navLogo.svg") ;
     height: 50px; 
     width: 50px; 

  } 

  .navbar-brand {
    margin-left: 25px ;
    color: #09ff00; 
    font-size: 1.5rem; 
  }
  
  .navbar-brand:hover {
    color: #0056b3; 
  }
  .navbar-nav{
    margin-left: 50px !important;
    text-align: center;
  }
  .navbar-toggler {
    border-color: #007bff; 
  }
  
  /* .navbar-toggler-icon {
    background-image: url("path/to/your/icon.svg"); /* Example custom icon 
  } 
  */
  
 
  .navbar-collapse {
    justify-content: flex-end; 
  }
  
 
  .form-control {
    border-radius: 0; 
  }
  
  .btn-outline-success {
    color: #28a745; 
    border-color: #28a745; 
  }
  
  .btn-outline-success:hover {
    background-color: #28a745; 
    color: #fff; 
  }
  