.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 60%;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
    margin-top: 100px;
}
